<!DOCTYPE html>
<html style='height: 60%' lang="en">
  <head>
    <title>Login with ZEBEDEE - Express Example</title>
  </head>
  <body style='
    height: 100%;
    background-color: rgb(18 20 33);
    display: flex;
    justify-content: center;
    align-items: center;
  '>
    <div style='
      border: 1px solid #2a2f50;
      width: 90%;
      height: 300px;
      max-width: 500px;
      border-radius: 12px;
    '>
    {{{body}}}
    </div>
  </body>
</html>
