<div style='
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
'>
<h3 style='color: #916ef7; margin-top: 0;'>Hey, {{username}}!</h3>
<span style='color: #efefef; margin-top: 0;'>You successfully logged-in \o/</span>
<h4 style='color: #efefef; margin: 20px 0 12px 0 !important;'>Here is your user data:</h4>
<span style='color: #efefef; margin-top: 0;'>Lightning Address: {{lightningAddress}}</span>
<span style='color: #efefef; margin-top: 6px;'>Email : {{email}}</span>

<a style='
  padding: 8px;
  border: 1px solid #916ef7;
  border-radius: 4px;
  color: #fff;
  margin-top: 20px;
  text-decoration: none;
' href="/">Back to Login!</a>
</div>
